/private/includes/config.php
*.map
*.scss
*.sass
.DS_store
private/._website.xd
public/img/._oceanbillboard.jpg
public/img/._swoosh.png
public/img/._oceanbillboard@2x.jpg
.idea/workspace.xml
*.xml
*.iml
public/img/._OceanStudios_FAV.svg
