@import 'default.css';

main {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* ----------------------   Banner Start    ---------------------- */
header {
    width: 100%;
    height: 100vh;
    background: url(../img/oceanbillboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
    .header__body {
    padding: 10px 60px 10px 30px;
    background: #fff;
    margin-bottom: 100px;
}
    .header__title {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}
    .header__title--bold {
        font-weight: 800;
        font-style: italic;
    }
/* ----------------------   Banner End */

/* ----------------------   Aboutus Start    ----------------------  */
.aboutus__main {
    height: 100vh;
}
    .aboutus__main--content {
        display: flex;
        flex-direction: column-reverse;
    }
    .aboutus__main--h2 {
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    .aboutus__main--section-left {
        background-color: var(--link-active);
        text-align: center;
    }
    .aboutus__main--img-left {
        max-width: 90%;
        padding: 5%;
    }
    .aboutus__main--section-right {
        margin: 0 auto;
        width: 90%;
    }
    .aboutus__main--p {
        font-weight: 300;
    }
/* ----------------------   Aboutus End    ----------------------  */

/* ----------------------   intermission 1 Start    ---------------------- */
.intermission__main {

}
    .intermission__main--content {}
/*  ----------------------   intermission 1 End    ---------------------- */

/*  ----------------------   Ourmission Start    ---------------------- */
.ourmission__main {

}
    .ourmission__main--content {}
    .ourmission__main--section-left {}
        .ourmission__main--img-left {}
        .ourmission__main--p {}

    .ourmission__main--section-right {}
        .ourmission__main--img-right{}
/*  ----------------------   Ourmission End    ---------------------- */

/*  ----------------------   intermission 2  Start    ---------------------- */
.intermission__main-2 {

}
.intermission__main-2--content {}
/*  ----------------------   intermission 2  End    ---------------------- */

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1080px) {

}