@import 'default.css';

main {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 20px;
}

iframe {
    max-width: 100vw;
}
/* ----------------------   Banner Start    ---------------------- */
header {
    width: 100%;
    height: 100vh;
    background: url(../img/oceanbillboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
    .header__body {
    padding: 0px 50px 0px 5px;
    background: #fff;
    margin-bottom: 100px;
}
    .header__title {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}
    .header__title--bold {
        font-weight: 800;
        font-style: italic;
    }
/* ----------------------   Banner End    ----------------------  */

/* ----------------------   Aboutus Start    ----------------------  */
.aboutus__main {
    height: 90vh;
}
    .aboutus__main--content {
        display: flex;
        flex-direction: column;
    }
    .aboutus__main--h2 {
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    .aboutus__main--section-left {
        background-color: var(--link-active);
        text-align: center;
    }
    .aboutus__main--img-left {
        max-width: 90%;
        padding: 5%;
    }
    .aboutus__main--section-right {
        margin: 0 auto;
        width: 90%;
        padding: 5px;
    }
    .aboutus__main--img-right {
        width: 10%;
    }
    .aboutus__main--p {
        font-weight: 300;
    }
/* ----------------------   Aboutus End    ----------------------  */

/* ----------------------   intermission 1 Start    ---------------------- */
.intermission__main {
    height: 30vh;
    padding-bottom: 20px;
}
    .intermission__main--content {
        position: relative;
        background-color: #219A94;
        height: 30vh;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intermission__main--content-button-1, .intermission__main--content-button-2 {
        width: 240px;
        background: white;
        padding: 1em;
        margin-top: 25px;
        text-align: center;
        font-weight: 400;
    }
/*  ----------------------   intermission 1 End    ---------------------- */

/*  ----------------------   Ourmission Start    ---------------------- */
.ourmission__main {
    height: 90vh;
    margin-bottom: 20px;
}
    .ourmission__main--content {
        display: flex;
        flex-direction: column;

    }
    .aboutus__main--h2 {
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    .ourmission__main--section-left {
        margin: 0 auto;
        width: 90%;
        padding: 5px;
    }
    .ourmission__main--img-left {
        max-width: 90%;
        padding: 5%;
    }
    .ourmission__main--p {
        font-weight: 300;
    }
    .ourmission__main--section-right {
        background-color: var(--link-active);
        text-align: center;
    }
    .ourmission__main--img-right{
        max-width: 90%;
        padding: 5%;
    }
/*  ----------------------   Ourmission End    ---------------------- */

/*  ----------------------   intermission 2  Start    ---------------------- */
.intermission__main-2 {
    height: 220vh;
}
.intermission__main--content-2 {
    position: relative;
    background-color: #219A94;
    height: 225vh;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intermission__main--content-2-button-3, .intermission__main--content-2-button-4, .intermission__main--content-2-button-5, .intermission__main--content-2-button-6 {
    width: 290px;
    height: 400px;
    background: white;
    padding: 1em;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
}
.intermission__main-h2 {
    margin-top: 1em;
}
.intermission__main--content-2-img {
    max-width: 260px;
    margin-top: 20px;
}

.intermission__main--content-2-p {
    width: 275px;
    margin-top: 30px;
}
/*  ----------------------   intermission 2  End    ---------------------- */

/*  ----------------------   Webshop  Start    ---------------------- */
.websshop__main {
    height: 80vh;
}
.webshop__main--content {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;}
.webshop__main--content-left {
    background-color: var(--link-active);
    text-align: center;
}
.webshop__main--content-right {
    max-width: 90%;
    padding: 5%;
    text-align: center;
    margin: 0 auto;
}
.webshop__main--p {
    text-align: left;
}
.webshop__main--h2 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    padding: 1em;
}

/*  ----------------------   Webshop  End    ---------------------- */

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1080px) {

    /* ----------------------   Banner Start    ---------------------- */
    .header__body {
        padding: 0px 130px 0px 45px;
        background: #fff;
        margin-bottom: 100px;
    }
    /* ----------------------   Banner End    ----------------------  */

    /* ----------------------   Aboutus Start    ----------------------  */
    .aboutus__main {
        height: 100vh;
    }
    .aboutus__main--content {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .aboutus__main--h2 {
        display: none;
    }
    .aboutus__main--section-left {
        padding: 1em;
    }
    .aboutus__main--img-left {
        max-width: 90%;
        padding: 5%;
    }
    .aboutus__main--section-right {
        margin: 0 auto;
        width: 90%;
        padding: 5px;
    }
    .aboutus__main--img-right {
        width: 10%;
    }
    .aboutus__main--p {
        font-weight: 300;
    }
    /* ----------------------   Aboutus End    ----------------------  */
}