@import 'default.css';

/* Corrects the placement of the main so its under the nav */
.main{
    margin-top: 8.5rem;
    height: auto;
}

.main__header{
    height: 400px;
    background-image: url("../img/oceanbillboard.jpg");
}
